* {
    box-sizing: border-box;
}

nav {
    font-size: 36px;
    background-color: rgb(55, 151, 183);
}

nav span {
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
}

nav p {
    color: aliceblue;
}

.card-body {
    width: 350px;
}

input,
button {
    height: 59px;
}

.submit {
    width: 100px;
}

.current {
    height: 250px;
}

#currentCond {
    font-size: 24px;
    font-weight: 600;
    color: rgb(55, 151, 183);
}

.forecast {
    height: 350px;
}

#fiveDay {
    font-size: 24px;
    font-weight: 600;
    color: rgb(55, 151, 183);
}

footer {
    height: 100px;
    background-color: rgb(55, 151, 183);
    margin: 10px 0px 0px 0px;
}

blockquote {
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
    font-weight: 600;
    color: aliceblue;
}